@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Quicksand&display=swap');


body{
    background-color: #E1E1E1;
}

#home_header{
    background-color: #0493FB;
    display: flex;
    flex-direction: column;
    height: auto;
}


section{
    padding: 40px;
}

#home_header .logo-img{
    width: 400px;
    margin: auto;
    margin-top: 20px;
}

#home_header ul{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 40px;
}

#home_header li {
    list-style-type: none;
    transition: 150ms;
    padding: 10px;
}

#home_header li:hover{
    transform: scale(1.1);
    margin-top: -10px;
}

#home_header a{
    color: aliceblue;
    text-decoration: none;
    font-size: 18pt;
    font-family: 'Kanit', sans-serif;
}

#home_header a:hover{
    color: rgb(20, 20, 20);
}

.sobremim{
    background-color: #FFFFFF;
}

.sobremim h1{
    color: rgb(0, 0, 0);
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 35pt;
}

.cards{
    background: rgba(66, 165, 204, 0.281);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.4px);
    -webkit-backdrop-filter: blur(4.4px);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90px;
    margin: 10px;
    padding: 15px;
    transition: 300ms;
}

#card{
    display: flex;
    flex-wrap: wrap;
}

.cards_flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        font-family: 'Quicksand', sans-serif;
}

.cards_flex h3{
    color: #5c5c5c;
}

.cards_flex p{
    font-size: 10pt;
    font-family: 'Quicksand', sans-serif;
}

.cards_flex svg{
    font-size: 30pt;
}

#html_card{
    color: #F1743C;
}
#css_card{
    color: #0580BB;
}
#js_card{
    color: #cca701;
}

#python_card{
    color: #1e6d68;
}

#dart_card{
    color: #1565C0;
}

#git_card{
    color: #E84D31;
}

#react_card{
    color: #0d50a7;
}

#testes_card{
    color: #212121;
}


#dart_card img{
    width: 30pt;
}

#wordpress_card{
    color: #207196;
}

#elementor_card{
    color: #8D0039;
}


.cards:hover{
    background: rgba(255, 255, 255, 0.18);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.4px);
    -webkit-backdrop-filter: blur(4.4px);
}

#plus{
    font-size: 13pt;
}

.projetos{
    background-color: #E1E1E1;
    color: #201e1e;
}

.projetos h1{
    color: rgb(0, 0, 0);
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 35pt;
}

.projetos_flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.cards_projetos{
    background: #ebebeb;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 10px;
    padding: 15px;
    transition: 300ms;
}

.cards_projetos img{
    width: 100%;
    background-color: #0493FB;
    border-radius: 20px;
}

.cards_projetos h2{
    font-size: 17pt;
    font-family: 'Quicksand', sans-serif;
    font-weight: 900;
}

.cards_projetos p{
    font-family: 'Quicksand', sans-serif;
}

.projetos_flex svg{
    font-size: 40pt;
}


#wordpress{
    color: #207196;
}

#css{
    color: #0580BB;
}

#elementor{
    color: #8D0039;
}

.preview_projetos svg{
    margin-top: 10px;
    color: #161616;
    font-size: 30pt;
    transition: 300ms;
}

.preview_projetos svg:hover{
    color: #252525;
    transform: scale(1.1);
}

.preview_projetos svg::after{
    color: #0493FB;
}

.linguagem_projetos{
    display: flex;
    width: 300px;
    justify-content: space-around;
    margin-top: auto;
}

.linguagem_projetos svg:hover{
    transform: scale(1.1);
}

.orcamento{
    background-color: #FFFFFF;
}

#orcamento_flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.orcamento h1{
    color: rgb(9, 9, 9);
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 35pt;
}

.cards_orcamento{
    border-radius: 20px;
    background-color: #ffffff;
    width: 350px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.cards_orcamento h3{
    background-color: #0493FB;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-family: 'Quicksand', sans-serif;
    color: #E1E1E1;
    font-weight: 200;
    text-align: center;
    font-size: 20pt;
    padding: 20px;
    margin: auto;
}

.cards_orcamento h2 #moeda{
    color: #0493FB;
    font-size: 10pt;
}

.cards_orcamento h2{
    color: #0493FB;
    font-size: 40pt;
    margin: 0px;
}

.cards_orcamento h2 #manutençao{
    color: #0493FB;
    font-size: 15pt;
    font-weight: 200;
}

.cards_orcamento ul{
    text-align: center;
    padding-left: 0px;
}

.cards_orcamento li {
    position: relative;
    padding: 10px 0;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    
    list-style-type: none;
    transition: 150ms;
    height: 60px;
    font-family: 'Quicksand', sans-serif;
}

.cards_orcamento li::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 1pt;
    width: 87%;
    background: #3a3a3a;
}

.cards_orcamento li:last-child::after {
    display: none;
}

@media (max-width: 600px) {
    #home_header ul{
        display: none;
    }
}